################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/Testing/v16/TestStore/0/testlog.manifest
/.vs/Testing/v16/TestStore/0/000-0000.testlog
/.vs/Testing/v16/TestStore/0
/.vs/Testing/v16/.suo
/.vs/Testing/v16
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
